.container {
    padding: 5px;
}

.input {
    width: 38px;
    height: 38px;
    padding: 0;
    font-size: 20px;
    text-align: center;
    margin-right: 3px;
    text-transform: uppercase;
    color: #494949;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
    border: 1px solid #3a1b44;
    border-radius: 4px;
    background: #fff;
    background-clip: padding-box;
}
.otp-input {
    width: 38px;
    height: 38px;
    padding: 0;
    font-size: 20px;
    text-align: center;
    margin-right: 3px;
    text-transform: uppercase;
    color: #494949;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
    border: 1px solid #3a1b44;
    border-radius: 4px;
    background: #fff;
    background-clip: padding-box;
}
