.container {
    width: 400px;
    padding: 20px 20px;
    right: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.5);
    margin: auto;
}
.mdl-shadow--6dp {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12),0 3px 5px -1px rgba(0,0,0,.2);
}
h6 {
    display: block;
    font-size: 0.67em;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    letter-spacing: .04em;
    margin-bottom: 30px;
    color: #de6c6c;
    text-align: center;
    padding: 19px;
}

h2 {
    display: block;
    font-size: 1.3em;
    margin-block-start: 0.70em;
    margin-block-end: 0.70em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #de6c6c;
}
a {
    color: rgb(255,64,129);
    font-weight: 500;
    margin-left: 10px;
}