.spinner {
    display: inline-block;
    width: 32px;
    height: 32px;
}
.spinner:after {
    content: ' ';
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 4px solid #602669;
    border-color: #602669 transparent #602669 transparent;
    animation: spinner 1.2s linear infinite;
}
@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}